@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL&display=swap');

body{
    overflow: hidden; 
    margin: 0;
    background-color: rgb(20,20,20);
    height: 100%;
    font-family: Roboto;
}

nav{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
}

nav > a{
    margin: 20px 15px;
    text-decoration: none;
    color: rgb(184, 184, 184);
    transition: all 0.4s;
}

nav > a:hover{
    cursor: pointer;
    color: white;
}

nav > a:nth-child(1){
    color: white;
}

.activeT.title{
    animation: loadTitle 0.75s;
    animation-delay: 0.4s;
    transition-delay: 0.4s;
    opacity: 1;
}

#slideContainer{
    display: flex;
    flex-wrap: wrap;
    width: 800%;
    z-index: -1;
    transition: opacity 0.4s;
}

.slide{
    flex: 1;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buttons, .title, nav, footer{
    position: absolute;
    z-index: 2;
    color: white;
}

.title{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: clamp(0.5rem, 2.8vw, 4rem);
    opacity: 0;
}

.lastActive{
    animation: unloadTitle 0.75s;
}

/* .activeT{
    animation: ;
} */

.buttons{
    font-family: 'Annapurna SIL', serif;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-between;
    font-size: 3em;
}

.buttons > div > span{
    height: auto;
    transform-origin: 50% 46%;
    transition: transform 0.75s, font-size 0.4s;
}

.left, .right{
    display: grid;
    height: 100vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

footer{
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1rem, 1.2vw, 4rem);
    display: flex;
    align-items: center;
}

footer > div{
    width: 30px;
    height: 0;
    border: solid 0.1px;
    top: 50%;
    margin: 0 10px;
}

footer > span{
    transition: all 0.3s;
}

.smallSlides{
    position: absolute;
    width: 30vw;
    height: 30px;
    bottom: 8%;
    right: 5%;
    display: flex;
    gap: 5px;
    z-index: 10;
    transition: transform 1s, height 1s, width 1s, gap 1s;
}

.smallSlide{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes loadFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes titleFadeOut{
    to{
        opacity: 0;;
    }
}

@keyframes loadTitle{
    from{
        transform: translateX(-50%) translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes unloadTitle{
    from{
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    to{
        transform: translateX(-50%) translateY(-50px);
        opacity: 0;
    }
}